@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Regular"), url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"), url("../fonts/georgia.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#contenu {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Inter Regular";
  font-size: 18px;
}

.titre {
  font-family: "Georgia Regular";
}

/* ================ Banner ================ */
header {
  background-image: url(../images/etal-legumes2.jpg);
  font-family: "Georgia Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
header .bandeau {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
header .bandeau__logo {
  display: flex;
  align-items: center;
}
header .bandeau__logo img {
  width: 100%;
  max-width: 200px;
}
header .bandeau__logo h2 {
  width: 35%;
}
header .bandeau p {
  font-family: "Inter Regular";
  width: 50%;
  padding-right: 20px;
}
header .bandeau__burger {
  font-size: 3rem;
  display: none;
  z-index: 9;
}
header .nav-wrapper {
  background-color: #489934;
  font-family: "Inter Regular";
  font-size: 1.1rem;
  width: 100%;
  height: 60px;
  z-index: 8;
}
header .nav-wrapper__navBar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-wrapper__navBar ul {
  width: 600px;
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
}
header .nav-wrapper__navBar ul a {
  color: #ffffff;
}
header .nav-wrapper__navBar ul a li {
  padding: 16px 0;
}
header .nav-wrapper__navBar ul a li:hover {
  border-bottom: 5px solid white;
}

/* ================ Footer ================ */
.footer {
  height: 300px;
  background-color: #489934;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.footer h3 {
  margin-top: 50px;
}
.footer__reseaux {
  font-size: 1.4rem;
  display: flex;
}
.footer__reseaux i {
  padding: 0 10px;
}
.footer a {
  color: #ffffff;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__footerNav {
  display: flex;
  margin-bottom: 30px;
}
.footer__footerNav p {
  padding: 0 20px;
}
.footer__copyright {
  padding-top: 20px;
  font-size: small;
  border-top: 1px solid rgba(255, 255, 255, 0.301);
  width: 100%;
  margin-bottom: 40px;
}

/* ================ Accueil ================ */
/* --- accueil - bienvenue --- */
#bienvenue {
  display: flex;
  margin-bottom: 100px;
}
#bienvenue__introduction {
  width: 120%;
  padding: 20px;
  box-shadow: 3px 10px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 0 20px;
}
#bienvenue .slider-wrapper {
  width: 80%;
  align-items: center;
  justify-content: center;
}
#bienvenue .slider-wrapper #slider {
  width: 447px;
  height: 285px;
}

/* --- accueil - en avant --- */
#enAvant {
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}
#enAvant__article {
  width: 28%;
  border: 1px solid rgba(53, 51, 51, 0.274);
  padding-bottom: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
#enAvant__article img {
  width: 100%;
}
#enAvant__article h3,
#enAvant__article p {
  padding: 16px 16px 0;
}
#enAvant__article h3 a,
#enAvant__article p a {
  color: rgb(190, 158, 116);
}
#enAvant__article h3 a:hover,
#enAvant__article p a:hover {
  color: rgb(231, 193, 142);
}
#enAvant__article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

/* --- accueil - partenaires --- */
#partners {
  margin-bottom: 40px;
}
#partners h3 {
  margin-bottom: 15px;
}
#partners__partner-list {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#partners__partner-list a img {
  max-width: 250px;
  max-height: 180px;
}

/* ================ Page Contact ================ */
#contact {
  width: 50%;
  padding: 0 25%;
}

.deuxColonnes {
  display: flex;
  width: 100%;
}
.deuxColonnes p {
  width: 100%;
}

#contact input[type=text],
#contact input[type=email],
#contact select {
  width: 90%;
}

#contact textarea {
  width: 95%;
}

#contact input[type=submit],
#contact input[type=reset] {
  padding: 8px;
  margin: 16px 8px 16px 0;
  background-color: #c9c9c9;
  border: none;
  border-radius: 5px;
  color: #F3F9EC;
  font-size: 1.2rem;
}
#contact input[type=submit]:hover,
#contact input[type=reset]:hover {
  background-color: #139120;
}

/* ================ Responsive Design ================ */
/* --- tablette --- */
@media screen and (max-width: 880px) {
  .slider-wrapper {
    display: none;
  }
  header {
    color: #ffffff;
    background-image: url(/images/etal-legumes-vert.png);
  }
  header .bandeau__burger {
    display: block;
    padding-right: 3%;
  }
  header .nav-wrapper {
    position: absolute;
    right: 0px;
    display: none;
    height: 100%;
    width: 35%;
    border-radius: 50px 0 0 50px;
  }
  header .nav-wrapper ul {
    display: block;
    margin: 0;
    flex-direction: column;
    text-align: center;
  }
  header .nav-wrapper ul li {
    padding: 35px 0;
  }
  header .nav-wrapper ul li:hover, header .nav-wrapper ul li:active {
    background-color: #2b5f1e;
  }
  header .nav-wrapper ul li a:hover {
    border-bottom: none;
  }
}
/* --- portable --- */
@media screen and (max-width: 690px) {
  header .nav-wrapper {
    height: 50%;
    width: 100%;
    border-radius: 0 0 50px 50px;
  }
  header .nav-wrapper ul li {
    padding: 20px 0;
  }
  .bandeau p {
    display: none;
  }
  #enAvant {
    flex-direction: column;
    align-items: center;
  }
  #enAvant__article {
    width: 80%;
    margin-bottom: 30px;
  }
  #partners {
    text-align: center;
  }
  #partners__partner-list {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
