@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Regular"), url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"), url("../fonts/georgia.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.contenu {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
}

body {
  font-family: "Inter Regular";
  font-size: 18px;
}

.titre {
  font-family: "Georgia Regular";
}

/* ================ Header ================ */
header {
  background-image: url(../images/etal-legumes2.jpg);
  font-family: "Georgia Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .bandeau {
  max-width: 1200px;
  align-items: center;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
header .bandeau__logo {
  display: flex;
  align-items: center;
}
header .bandeau__logo img {
  width: 100%;
  max-width: 200px;
}
header .bandeau__logo h2 {
  width: 35%;
}
header .bandeau p {
  font-family: "Inter Regular";
  width: 50%;
  padding-right: 20px;
}
header .bandeau__burger {
  font-size: 3rem;
  display: none;
  z-index: 1000;
}

/* --- header - navigation --- */
.nav-wrapper {
  background-color: #489934;
  font-family: "Inter Regular";
  font-size: 1.1rem;
  width: 100%;
  height: 60px;
  z-index: 999;
  position: sticky;
  top: 0;
}
.nav-wrapper__navBar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-wrapper__navBar ul {
  width: 600px;
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
}
.nav-wrapper__navBar li a {
  color: #ffffff;
}
.nav-wrapper__navBar li a:hover {
  border-bottom: 5px solid white;
  padding: 16px 0;
}

/* ================ Footer ================ */
.footer {
  height: 300px;
  background-color: #489934;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.footer h3 {
  margin-top: 50px;
}
.footer__reseaux {
  font-size: 1.4rem;
  display: flex;
}
.footer__reseaux i {
  padding: 0 10px;
}
.footer a {
  color: #ffffff;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__footerNav {
  display: flex;
  margin-bottom: 30px;
}
.footer__footerNav p {
  padding: 0 20px;
}
.footer__copyright {
  padding-top: 20px;
  font-size: small;
  border-top: 1px solid rgba(255, 255, 255, 0.301);
  width: 100%;
  margin-bottom: 40px;
}
.footer .fleche-retour {
  left: 50%;
  position: absolute;
  top: 5px;
}
.footer .fleche-retour a {
  background: none;
  background-color: rgba(140, 201, 60, 0.83);
  border: 2px solid transparent;
  border-left-color: inherit;
  border-top-color: inherit;
  content: "";
  display: inline-block;
  transform: rotate(45deg);
}

/* ================ Accueil ================ */
/* --- accueil - bienvenue --- */
#bienvenue {
  display: flex;
  margin-bottom: 100px;
}
#bienvenue__introduction {
  width: 120%;
  padding: 20px;
  box-shadow: 3px 10px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 0 20px;
}
#bienvenue .slider-wrapper {
  width: 80%;
  align-items: center;
  justify-content: center;
}
#bienvenue .slider-wrapper #slider {
  width: 447px;
  height: 285px;
}

/* --- page accueil et recettes - articles en avant --- */
.recettes-en-avant {
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}
.recettes-en-avant__article {
  width: 28%;
  border: 1px solid rgba(53, 51, 51, 0.274);
  padding-bottom: 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.recettes-en-avant__article img {
  width: 100%;
}
.recettes-en-avant__article h3,
.recettes-en-avant__article p {
  padding: 16px 16px 0;
}
.recettes-en-avant__article h3 a,
.recettes-en-avant__article p a {
  color: rgb(190, 158, 116);
}
.recettes-en-avant__article h3 a:hover,
.recettes-en-avant__article p a:hover {
  color: rgb(231, 193, 142);
}
.recettes-en-avant__article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

/* --- accueil - partenaires --- */
#partners h3 {
  margin-bottom: 15px;
}
#partners__partner-list {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#partners__partner-list a img {
  max-width: 250px;
  max-height: 180px;
}

/* ================ Page About ================ */
#about {
  padding: auto auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#about img {
  width: 100%;
}

#store img {
  width: 32%;
  border-radius: 20px;
  height: 300px;
}

/* ================ Page Recettes ================ */
/* --- recettes - hub --- */
/* --- recettes - article --- */
.page-recette {
  margin: 30px;
  padding: 30px 50px 50px 50px;
  border: 1px solid #c9c9c9;
  box-shadow: 5px 3px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.page-recette .fleche-retour {
  padding: 5px;
  border-radius: 50%;
  background-color: whitesmoke;
  font-size: 1.4rem;
  color: black;
  transition: 0.3s;
}
.page-recette .fleche-retour:hover {
  box-shadow: 5px 3px 16px 0 rgba(0, 0, 0, 0.2);
}
.page-recette__content {
  margin: 20px 30px 0 30px;
}
.page-recette__content .titre {
  margin-left: 20px;
  margin-bottom: 20px;
}
.page-recette__content p {
  text-indent: 40px;
}
.page-recette__content img {
  border-radius: 10px;
  margin: 25px 25%;
  width: 50%;
}

/* ================ Page Contact ================ */
h1 {
  margin-bottom: 30px;
}

#contact {
  width: 50%;
  padding: 0 25%;
  margin-bottom: 25px;
}
#contact #civilite {
  margin-bottom: 10px;
}
#contact #civilite label {
  margin: 0 20px 0 3px;
}
#contact .deuxColonnes {
  display: flex;
  width: 100%;
}
#contact .deuxColonnes p {
  width: 100%;
}
#contact input[type=text],
#contact input[type=email],
#contact select {
  width: 90%;
  margin-bottom: 10px;
}
#contact #Objet {
  width: 70%;
  margin-bottom: 10px;
}
#contact #message {
  width: 95%;
}
#contact .submit {
  display: flex;
  justify-content: space-evenly;
}
#contact .submit input[type=submit],
#contact .submit input[type=reset] {
  padding: 8px;
  margin: 16px 8px 16px 0;
  background-color: #58bb3f;
  border: none;
  border-radius: 5px;
  color: #F3F9EC;
  font-size: 1.2rem;
  position: relative;
}
#contact .submit input[type=submit]:hover,
#contact .submit input[type=reset]:hover {
  background-color: #489934;
  box-shadow: 5px 3px 16px 0 rgba(0, 0, 0, 0.2);
}
#contact .submit input[type=submit]:active,
#contact .submit input[type=reset]:active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}
#contact #checkboxes label {
  margin-left: 3px;
  font-size: smaller;
}
#contact #checkboxes p {
  margin-bottom: 5px;
}
#contact #checkboxes a {
  color: #58bb3f;
}
#contact #checkboxes a:hover {
  color: #489934;
  text-decoration: underline;
}

.cadre {
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.cadre .iframe {
  width: 50%;
}
.cadre .iframe #map {
  border: 1px solid rgba(53, 51, 51, 0.274);
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

/* ================ Page RGPD ================ */
.policy {
  box-shadow: 5px 5px 20px 10px grey;
  padding: 20px 150px 70px 150px;
}
.policy h1,
.policy h2,
.policy h3 {
  font-family: "Georgia Regular";
  color: #d17002;
  margin-top: 30px;
  margin-bottom: 10px;
}
.policy h1 {
  padding: 20px;
  color: #cf6a17;
}
.policy h2 {
  text-indent: -50px;
}
.policy p {
  line-height: 145%;
}
.policy .info-list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  margin: 20px 0;
}
.policy .info-list dt {
  font-weight: bold;
}
.policy ul {
  margin-left: 40px;
}
.policy ul li {
  list-style: disc;
}

/* ================ Responsive Design ================ */
/* --- tablette --- */
@media screen and (max-width: 880px) {
  .slider-wrapper {
    display: none;
  }
  header {
    color: #ffffff;
    background-image: url(/images/etal-legumes-vert.png);
  }
  header .bandeau__burger {
    display: block;
    padding-right: 3%;
    position: relative;
  }
  .nav-wrapper {
    position: fixed;
    right: 0px;
    display: none;
    height: 90%;
    width: 35%;
    border-radius: 0 0 0 50px;
  }
  .nav-wrapper ul {
    padding-top: 60%;
    display: block;
    margin: 0;
    flex-direction: column;
    text-align: center;
  }
  .nav-wrapper ul li {
    padding: 35px 0;
  }
  .nav-wrapper ul li:hover, .nav-wrapper ul li:active {
    background-color: #2b5f1e;
  }
  .nav-wrapper ul li a:hover {
    border-bottom: none;
  }
}
/* --- portable --- */
@media screen and (max-width: 690px) {
  .nav-wrapper {
    height: 50%;
    width: 100%;
    border-radius: 0 0 50px 50px;
  }
  .nav-wrapper ul {
    padding-top: 0;
    width: 100%;
  }
  .nav-wrapper ul li {
    padding: 20px 0;
  }
  .bandeau p {
    display: none;
  }
  .recettes-en-avant {
    flex-direction: column;
    align-items: center;
  }
  .recettes-en-avant__article {
    width: 80%;
    margin-bottom: 30px;
  }
  #partners {
    text-align: center;
  }
  #partners__partner-list {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .footer h3 {
    margin-top: 20px;
  }
  .footer__reseaux {
    margin-top: 10px;
  }
  .footer__footerNav {
    margin-top: 10px;
    flex-direction: column;
  }
  .footer__footerNav p {
    padding: 5px 0;
  }
}

/*# sourceMappingURL=style.css.map */
