@font-face {
    font-family: 'antipasto';
    src: url('../fonts/Antipasto-Pro-Regular-trial.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oldstyle';
    src: url('../fonts/OLDSH___.TTF ') format('ttf');
    font-weight: normal;
    font-style: normal;

}

$fontTitle: 'antipasto';
$fontTexte: 'oldstyle';