    @font-face {
        font-family: 'Inter Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Inter Regular'), url('../fonts/Inter-Regular.woff') format('woff');
    }

    @font-face {
        font-family: 'Georgia Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Georgia Regular'), url('../fonts/georgia.woff') format('woff');
    }

    $fontTexte: 'Inter Regular';
    $fontTitle: 'Georgia Regular';