@use "couleurs";
@use "fonts";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#contenu {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: fonts.$fontTexte;
    font-size: 18px;
}

.titre {
    font-family: fonts.$fontTitle;
}

/* ================ Banner ================ */
.bandeau {
    background-image: url(../images/etal-legumes2.jpg);
    font-family: fonts.$fontTitle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &__logo {
        max-width: 1200px;
        display: flex;
        align-items: center;
        margin: 20px 0;

        img {
            width: 100%;
            max-width: 200px;
        }

        h2 {
            width: 20%;
        }

        p {
            font-family: fonts.$fontTexte;
        }

        &__burger {
            font-size: 3rem;
            display: none;
        }
    }

    &__menu {

        background-color: couleurs.$couleur1;
        font-family: fonts.$fontTexte;
        font-size: 1.1rem;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            width: 600px;
            margin: 0 200px;
            display: flex;
            justify-content: space-between;

            a {
                color: couleurs.$whiteFont;
                box-sizing: border-box;

                &:hover {
                    padding-bottom: 14px;
                    border-bottom: 5px solid white;
                }
            }
        }

    }
}

/* ================ Footer ================ */
.footer {

    background-color: couleurs.$couleur1;
    color: couleurs.$whiteFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    a {
        color: couleurs.$whiteFont;

        &:hover {
            text-decoration: underline;
        }
    }

    &__footerNav {
        display: flex;
        justify-content: space-between;
    }
}


/* ================ Accueil ================ */

/* --- accueil - bienvenue --- */
#bienvenue {
    display: flex;
    margin-bottom: 100px;

    &__introduction {
        padding: 20px;
        box-shadow: 3px 10px 16px 0 rgba(0, 0, 0, 0.2);
        margin: 0 20px;
    }

    .slider-wrapper {
        align-items: center;
        justify-content: center;

        img {
            resize: both;
        }

        #slider {
            width:447px;
            height: 285px;
        }
    }
}




/* --- accueil - en avant --- */
#enAvant {
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;


    &__article {
        width: 28%;
        border: 1px solid rgba(53, 51, 51, 0.274);
        padding-bottom: 24px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;

        img {
            width: 100%;
        }


        h3,
        p {
            padding: 16px 16px 0;

            a {
                color: rgb(190, 158, 116);

                &:hover {
                    color: rgb(231, 193, 142);
                }
            }
        }

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
        }
    }
}

/* --- accueil - partenaires --- */
#partners {
    margin-bottom: 40px;

    h3 {
        margin-bottom: 15px;
    }

    &__partner-list {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            img {
                max-width: 250px;
                max-height: 180px;
            }
        }
    }
}

/* ================ Page Contact ================ */

#contact {
    width: 50%;
    padding: 0 25%;
}

.deuxColonnes {
    display: flex;
    width: 100%;

    p {
        width: 100%;
    }
}





#contact input[type=text],
#contact input[type=email],
#contact select {
    width: 90%;
}

#contact textarea {
    width: 95%;
}

#contact input[type=submit],
#contact input[type=reset] {
    padding: 8px;
    margin: 16px 8px 16px 0;
    background-color: couleurs.$couleur2;
    border: none;
    border-radius: 5px;
    color: couleurs.$fondClair;
    font-size: 1.2rem;

    &:hover {
        background-color: #139120;
    }
}


/* ================ Responsive Design ================ */
/* --- tablette --- */
@media screen and (max-width:880px) {
    .bandeau {
        color: couleurs.$whiteFont;
        background-image: url(/images/etal-legumes-vert.png);

        &__logo {

            &__burger {
                display: block;
                padding-right: 3%;
            }
        }

        &__menu {
            display: none;
        }
    }
}
/* --- portable --- */
@media screen and (max-width:690px) {
    .slider-wrapper {
        display: none;
    }

    .bandeau {
        &__logo {
            p {
                display: none;
            }
        }
    }

    #enAvant {
        flex-direction: column;
        align-items: center;

        &.article {
            width: 80%;
            margin-bottom: 30px;
        }
    }

    #partners {
        text-align: center;

        &__partner-list {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
}