@use "couleurs";
@use "fonts";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.contenu {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
}

body {
    font-family: fonts.$fontTexte;
    font-size: 18px;
}

.titre {
    font-family: fonts.$fontTitle;
}


/* ================ Header ================ */
header {
    .bandeau_wrapper {
        background-image: url(../images/etal-legumes2.jpg);
        font-family: fonts.$fontTitle;
        display: flex;
        flex-direction: column;
        align-items: center;

        .bandeau {
            max-width: 1200px;
            align-items: center;
            margin: 20px 0;
            display: flex;
            justify-content: space-between;

            &__logo {
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                    max-width: 200px;
                }

                h2 {
                    width: 35%;
                }

            }

            p {
                font-family: fonts.$fontTexte;
                width: 50%;
                padding-right: 20px;
            }

        }
    }
}

.burger {
    color: couleurs.$whiteFont;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: couleurs.$couleur1;
    border-radius: 0 0 0 10px;
    font-size: 3rem;
    display: none;
    z-index: 1000;
}

/* --- header - navigation --- */
.nav-wrapper {
    background-color: couleurs.$couleur1;
    font-family: fonts.$fontTexte;
    font-size: 1.1rem;
    width: 100%;
    height: 60px;
    z-index: 999;
    position: sticky;
    top: 0;

    &__navBar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            width: 600px;
            margin: 0 200px;
            display: flex;
            justify-content: space-between;
        }

        li {

            a {
                color: couleurs.$whiteFont;


                &:hover {
                    border-bottom: 5px solid white;
                    padding: 16px 0;
                }

            }
        }
    }
}

/* ================ Footer ================ */
.footer {
    height: 250px;
    background-color: couleurs.$couleur1;

    &__flex {
        width: 100%;
        height: 100%;
        color: couleurs.$whiteFont;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;

        h3 {
            margin-top: 50px;
        }

        &__reseaux {
            font-size: 1.4rem;
            display: flex;

            i {
                padding: 0 10px;
            }
        }

        a {
            color: couleurs.$whiteFont;

            &:hover {
                text-decoration: underline;
            }
        }

        &__footerNav {
            display: flex;
            margin-bottom: 30px;

            p {
                padding: 0 20px;
            }
        }

        &__copyright {
            padding-top: 20px;
            font-size: small;
            border-top: 1px solid rgba(255, 255, 255, 0.301);
            width: 100%;
            margin-bottom: 40px;
        }
    }

}



/* ================ Accueil ================ */

/* --- accueil - bienvenue --- */
#bienvenue {
    display: flex;
    margin-bottom: 100px;

    &__introduction {
        width: 120%;
        padding: 20px;
        box-shadow: 3px 10px 16px 0 rgba(0, 0, 0, 0.2);
        margin: 0 20px;
    }

    .slider-wrapper {
        width: 80%;
        align-items: center;
        justify-content: center;

        #slider {
            width: 447px;
            height: 285px;
        }

    }
}




/* --- page accueil et recettes - articles en avant --- */
.recettes-en-avant {
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;


    &__article {
        width: 28%;
        border: 1px solid rgba(53, 51, 51, 0.274);
        padding-bottom: 24px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;

        img {
            width: 100%;
        }


        h3,
        p {
            padding: 16px 16px 0;

            a {
                color: rgb(190, 158, 116);

                &:hover {
                    color: rgb(231, 193, 142);
                }
            }
        }

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
        }
    }
}

/* --- accueil - partenaires --- */
#partners {

    h3 {
        margin-bottom: 15px;
    }

    &__partner-list {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            img {
                max-width: 250px;
                max-height: 180px;
            }
        }
    }
}

/* ================ Page About ================ */
#about {
    padding: auto auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
        width: 100%;
    }
}

#store {
    img {
        width: 32%;
        border-radius: 20px;
        height: 300px;
    }
}


/* ================ Page Recettes ================ */
/* --- recettes - hub --- */


/* --- recettes - article --- */
.page-recette {
    margin: 30px;
    padding: 30px 50px 50px 50px;
    border: 1px solid couleurs.$couleur2;
    box-shadow: 5px 3px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    .fleche-retour {
        padding: 5px;
        border-radius: 50%;
        background-color: whitesmoke;
        font-size: 1.4rem;
        color: black;
        transition: 0.3s;

        &:hover {
            box-shadow: 5px 3px 16px 0 rgba(0, 0, 0, 0.2);
        }
    }

    &__content {
        margin: 20px 30px 0 30px;

        .titre {
            margin-left: 20px;
            margin-bottom: 20px;
        }

        p {
            text-indent: 40px;
        }

        img {
            border-radius: 10px;
            margin: 25px 25%;
            width: 50%;
        }
    }
}


/* ================ Page Contact ================ */
h1 {
    margin-bottom: 30px;
}

#contact {
    width: 50%;
    padding: 0 25%;
    margin-bottom: 25px;

    #civilite {
        margin-bottom: 10px;

        label {
            margin: 0 20px 0 3px;
        }
    }

    .deuxColonnes {
        display: flex;
        width: 100%;

        p {
            width: 100%;
        }
    }

    input[type=text],
    input[type=email],
    select {
        width: 90%;
        margin-bottom: 10px;
    }


    #Objet {
        width: 70%;
        margin-bottom: 10px;
    }

    #message {
        width: 95%;
    }

    .submit {
        display: flex;
        justify-content: space-evenly;

        input[type=submit],
        input[type=reset] {
            padding: 8px;
            margin: 16px 8px 16px 0;
            background-color: #58bb3f;
            border: none;
            border-radius: 5px;
            color: couleurs.$fondClair;
            font-size: 1.2rem;
            position: relative;

            &:hover {
                background-color: couleurs.$couleur1;
                box-shadow: 5px 3px 16px 0 rgba(0, 0, 0, 0.2);
            }

            &:active {
                top: 2px;
                left: 1px;
                box-shadow: none;
            }
        }
    }

    #checkboxes {
        label {
            margin-left: 3px;
            font-size: smaller;
        }

        p {
            margin-bottom: 5px;
        }

        a {
            color: #58bb3f;

            &:hover {
                color: couleurs.$couleur1;
                text-decoration: underline;
            }
        }
    }
}

.cadre {
    border-radius: 5px;
    display: flex;
    justify-content: center;

    .iframe {
        width: 50%;

        #map {
            border: 1px solid rgba(53, 51, 51, 0.274);
            width: 100%;
            height: 300px;
            border-radius: 5px;
        }
    }
}

/* ================ Page RGPD ================ */
.policy {
    box-shadow: 5px 5px 20px 10px grey;
    padding: 20px 150px 70px 150px;

    h1,
    h2,
    h3 {
        font-family: fonts.$fontTitle;
        color: couleurs.$couleur3;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    h1 {
        padding: 20px;
        color: #cf6a17;
    }

    h2 {
        text-indent: -50px;
    }

    p {
        line-height: 145%;
    }

    .info-list {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px 20px;
        margin: 20px 0;

        dt {
            font-weight: bold;
        }
    }

    ul {
        margin-left: 40px;

        li {
            list-style: disc;
        }
    }
}

/* ================ Responsive Design ================ */
/* --- tablette --- */
@media screen and (max-width:880px) {
    .slider-wrapper {
        display: none;
    }

    header {
        bandeau-wrapper {
            color: couleurs.$whiteFont;
            background-image: url(/images/etal-legumes-vert.png);

        }

        .burger {
            display: block;
        }
    }


    .nav-wrapper {
        position: fixed;
        overflow: hidden;
        right: 0px;
        display: none;
        height: 70%;
        width: 35%;
        border-radius: 0 0 0 50px;

        &__navBar {
            ul {
                padding-top: 60%;
                display: block;
                margin: 0;
                flex-direction: column;
                text-align: center;

                li {
                    padding: 35px 0;

                    &:hover,
                    &:active {
                        background-color: #2b5f1e;
                    }

                    a {
                        &:hover {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

}


/* --- portable --- */
@media screen and (max-width:690px) {
    .nav-wrapper {
        height: 45%;
        width: 100%;
        border-radius: 0 0 50px 50px;

        ul {
            padding-top: 0;
            width: 100%;

            li {
                padding: 20px 0;

            }
        }
    }



    .bandeau {
        p {
            display: none;
        }
    }

    .recettes-en-avant {
        flex-direction: column;
        align-items: center;

        &__article {
            width: 80%;
            margin-bottom: 30px;
        }
    }

    #partners {
        text-align: center;

        &__partner-list {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    .footer {
        &__flex {
            h3 {
                margin-top: 20px;
            }

            &__reseaux {
                margin-top: 10px;
            }

            &__footerNav {
                margin-top: 10px;
                flex-direction: column;
            }
        }
    }
}